<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Transporte App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="goUser()">Modificar Usuario</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4 content">
  <h1 class="text-center">Bienvenido a la sección de inicio</h1>

  <div class="row justify-content-center mt-4">
    <!-- Botón para ir a la sección de Pagos -->
    <div class="col-md-6 text-center mb-3">
      <button class="btn btn-primary w-100" routerLink="/payments">
        Gestionar Pagos
      </button>
    </div>

    <!-- Botón para ir a la sección de Solicitudes de Viaje -->
    <div class="col-md-6 text-center mb-3">
      <button class="btn btn-primary w-100" routerLink="/travel-requests">
        Gestionar Solicitudes de Viaje
      </button>
    </div>
     <!-- Botón para ir a la sección de Conductores -->
     <div class="col-md-4 text-center mb-3">
      <button class="btn btn-primary w-100" routerLink="/drivers">
        Gestionar Conductores
      </button>
    </div>
    <div class="col-md-4 text-center mb-3">
      <button class="btn btn-primary w-100" routerLink="/vehicles">
        Gestionar Vehículos
      </button>
    </div>
  </div>
</div>