<div class="container mt-4">
  <h2>Solicitud de Viaje</h2>

  <div id="map" style="height: 400px;"></div>

  <div class="mt-4">
    <h4>Datos del Viaje</h4>
    <div *ngIf="originLat && originLng">Origen: {{ originLat }}, {{ originLng }}</div>
    <div *ngIf="destinationLat && destinationLng">Destino: {{ destinationLat }}, {{ destinationLng }}</div>

    <button class="btn btn-primary mt-3" (click)="saveTravelRequest()">Guardar Solicitud de Viaje</button>
  </div>

  <div class="mt-4" *ngIf="requestId && requestStatus">
    <h4>Información de la Solicitud Guardada</h4>
    <div>ID de la Solicitud: {{ requestId }}</div>
    <div>Estado: {{ requestStatus }}</div>

    <button class="btn btn-success mt-3" (click)="goToHome()">Ir al Home</button>
  </div>
</div>